@model CarInventory.DataAccess.Car
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Create</a>
</p>
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Success"])))
{
    <span style="color:forestgreen;"> @TempData["Success"]</span>

}
<div id="dvCars">
</div>

<div class='modal fade' id='myModal' tabindex='-1' role='dialog'
     aria-labelledby='mdl' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal'
                        aria-label='Close'>
                    <span aria-hidden='true'>×</span>
                </button>
                <h4 class='modal-title' id='AD'>
                    Add New Car
                </h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post))
            {
                <div class='modal-body'>
                    <div class="form-group"> 
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } }) 
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.New, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.New)
                                @Html.ValidationMessageFor(model => model.New, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <input type="button" id="btnCreate" value="Save" class="btn btn-success" />   <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var url = "@Url.Action("Create","Cars")";
    var Geturl = "@Url.Action("GetCar","Cars")";

    $(document).ready(function () {
        clearform();

        $.ajax({
            type: "Get",
            url: Geturl,
            contentType: "application/json"
        }).done(function (res) {
            $("#dvCars").html(res);
        });

    });

    $('#btnCreate').click(function () {
        var model = { Id: $('#Id').val(), Brand: $('#Brand').val(), Model: $('#Model').val(), Year: $('#Year').val(), Price: $('#Price').val(), New: $('#New').val() };
        SaveCarDetails(model);
    });



    function EditCar(Id)
    {
        console.log(Id);
        $.ajax({
            type: "Get",
            url: "@Url.Action("Edit", "Cars")" + "?Id=" + Id, 
            contentType: "application/json ; charset=utf-8"
        }).done(function (response) {
            //$('#Id').val(response.Id);
            $('#Brand').val(response.Brand);
            $('#Model').val(response.Model);
            $('#Year').val(response.Year);
            $('#Price').val(response.Price);
            $('#New').val(response.New);
            $('#myModal').modal('show');
        }); 
    }

    function DeleteCar(Id) {
        console.log(Id);
    }

    function clearform()
    {
        $('#Brand').val('');
        $('#Model').val('');
        $('#Year').val('');
        $('#Price').val('');
        $('#New').val('');
    }

    function SaveCarDetails(model)
    {
        $.ajax({
            type: "Post",
            url: url,
            data: JSON.stringify(model),
            contentType: "application/json ; charset=utf-8"
        }).done(function (res) {
            $("#dvCars").html(res);
            $('#myModal').modal('toggle');
            clearform();
        });
    }

</script>